@import "~bootstrap/scss/functions";
@import "./helps/variables";
@import "~bootstrap/scss/bootstrap";
@import "./assets/admin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #f5fcff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:black;
  font-size: 1rem;
  &:hover {
    color: #333;
  }
}
.btn-primary {
  background-color: #ff7566;
  border: none;
  border-radius: 0;
  color:white;
}
.btn {
  border-radius: 0;
}


.content {
  margin-top: 8rem;
}

.customCard {
  transition: transform 0.2s ease;
  max-width: 450px;
  border-radius: none;

  &:hover {
    transform: scale(1.01);
  }
}

.add-item {
  margin: 0 10px;
  padding: 0 5px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  &:active, &:hover {
    color:$info;
  }
  
}

.nav-pills .nav-link.active {
  border-radius: 0;
  background: #000;
}

.card-img {
  border-radius: 0;
}

.badge-primary {
  color: white;
}

.product-card {
  transition: all .3s ease;
  border: none;
  border-radius: 0;
  &:hover {
    box-shadow: 5px 5px 0px rgb(210, 227, 235);
    transform: scale(1.01);
  }
  .show-info {
    position: relative;
    overflow: hidden;
    &:hover .info {
      position: absolute;
      bottom: 0;
      cursor:pointer;
    }
     .info {
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s linear 0s;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
