@import "~bootstrap/scss/functions";
@import "./helps/variables";
@import "~bootstrap/scss/bootstrap";
@import "./assets/admin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: #f5fcff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:black;
  font-size: 1rem;
  &:hover {
    color: #333;
  }
}

.content {
  margin-top: 8rem;
}